./data
./result
data/county_houston.cpg
data/county_houston.dbf
data/county_houston.prj
data/county_houston.shp
data/county_houston.shx
data/covid_case.xlsx
data/covid_fatality.xlsx
data/geocoded_hospital.cpg
data/geocoded_hospital.dbf
data/geocoded_hospital.prj
data/geocoded_hospital.shp
data/geocoded_hospital.shx
data/hexagon_houston_pop.cpg
data/hexagon_houston_pop.dbf
data/hexagon_houston_pop.prj
data/hexagon_houston_pop.sbn
data/hexagon_houston_pop.sbx
data/hexagon_houston_pop.shp
data/hexagon_houston_pop.shp.xml
data/hexagon_houston_pop.shx
data/hexagon_houston_pop.xml
data/hospital_availability.csv
data/major_roads.cpg
data/major_roads.dbf
data/major_roads.prj
data/major_roads.sbn
data/major_roads.sbx
data/major_roads.shp
data/major_roads.shp.xml
data/major_roads.shx
data/osm_network_greater_houston/nodes.cpg
data/osm_network_greater_houston/nodes.dbf
data/osm_network_greater_houston/nodes.prj
data/osm_network_greater_houston/nodes.shp
data/osm_network_greater_houston/nodes.shx
data/traffic_data/file_names.txt
data/traffic_data/modified_csv/Beltway8E_OldGalveston_Wilson.csv
data/traffic_data/modified_csv/Beltway8E_Wilson_OldGalveston.csv
data/traffic_data/modified_csv/Beltway8N_Fallbrook_Wilson.csv
data/traffic_data/modified_csv/Beltway8N_Wilson_Fallbrook.csv
data/traffic_data/modified_csv/Beltway8S_OldGalveston_US59.csv
data/traffic_data/modified_csv/Beltway8S_US59_OldGalveston.csv
data/traffic_data/modified_csv/Beltway8W_Fallbrook_US59.csv
data/traffic_data/modified_csv/Beltway8W_US59_Fallbrook.csv
data/traffic_data/modified_csv/HardyToll_IH45_IH610.csv
data/traffic_data/modified_csv/HardyToll_IH610_IH45.csv
data/traffic_data/modified_csv/IH10E_CrosbyLynchburg_Downtown.csv
data/traffic_data/modified_csv/IH10E_Downtown_CrosbyLynchburg.csv
data/traffic_data/modified_csv/IH10K_Beltway8_Downtown.csv
data/traffic_data/modified_csv/IH10K_Beltway8_PinOak.csv
data/traffic_data/modified_csv/IH10K_Downtown_Beltway8.csv
data/traffic_data/modified_csv/IH10K_PinOak_Beltway8.csv
data/traffic_data/modified_csv/IH45G_Beltway8_Downtown.csv
data/traffic_data/modified_csv/IH45G_Beltway8_FM646.csv
data/traffic_data/modified_csv/IH45G_Downtown_Beltway8.csv
data/traffic_data/modified_csv/IH45G_FM646_Beltway8.csv
data/traffic_data/modified_csv/IH45N_Beltway8_Downtown.csv
data/traffic_data/modified_csv/IH45N_Beltway8_FM1488.csv
data/traffic_data/modified_csv/IH45N_Downtown_Beltway8.csv
data/traffic_data/modified_csv/IH45N_FM1488_Beltway8.csv
data/traffic_data/modified_csv/IH610E_SH225_Gellhorn.csv
data/traffic_data/modified_csv/IH610E_Wayside_Broadway.csv
data/traffic_data/modified_csv/IH610N_Gellhorn_Shepherd.csv
data/traffic_data/modified_csv/IH610N_Shepherd_Gellhorn.csv
data/traffic_data/modified_csv/IH610S_SH225_StellaLink.csv
data/traffic_data/modified_csv/IH610S_StellaLink_SH225.csv
data/traffic_data/modified_csv/IH610W_Shepherd_StellaLink.csv
data/traffic_data/modified_csv/IH610W_StellaLink_Shepherd.csv
data/traffic_data/modified_csv/schema.ini
data/traffic_data/modified_csv/SH225_IH610_SH146.csv
data/traffic_data/modified_csv/SH225_SH146_IH610.csv
data/traffic_data/modified_csv/SH249_Beltway8_Northpointe.csv
data/traffic_data/modified_csv/SH249_SpringCypress_Beltway8.csv
data/traffic_data/modified_csv/SH288_Downtown_SH6.csv
data/traffic_data/modified_csv/SH288_SH6_Downtown.csv
data/traffic_data/modified_csv/SH99_Bellaire_I10.csv
data/traffic_data/modified_csv/SH99_I10_Bellaire.csv
data/traffic_data/modified_csv/US290_BarkerCypress_IH610.csv
data/traffic_data/modified_csv/US290_IH610_BarkerCypress.csv
data/traffic_data/modified_csv/US59E_Downtown_Townsen.csv
data/traffic_data/modified_csv/US59E_Townsen_Downtown.csv
data/traffic_data/modified_csv/US59SW_Downtown_IH610.csv
data/traffic_data/modified_csv/US59SW_IH610_Downtown.csv
data/traffic_data/modified_csv/US59SW_IH610_SH99.csv
data/traffic_data/modified_csv/US59SW_SH99_IH610.csv
data/traffic_data/modified_csv/WestparkToll_Hillcroft_SH6.csv
data/traffic_data/modified_csv/WestparkToll_SH6_IH610.csv
data/traffic_data/original_csv/Beltway8E_OldGalveston_Wilson.csv
data/traffic_data/original_csv/Beltway8E_Wilson_OldGalveston.csv
data/traffic_data/original_csv/Beltway8N_Fallbrook_Wilson.csv
data/traffic_data/original_csv/Beltway8N_Wilson_Fallbrook.csv
data/traffic_data/original_csv/Beltway8S_OldGalveston_US59.csv
data/traffic_data/original_csv/Beltway8S_US59_OldGalveston.csv
data/traffic_data/original_csv/Beltway8W_Fallbrook_US59.csv
data/traffic_data/original_csv/Beltway8W_US59_Fallbrook.csv
data/traffic_data/original_csv/HardyToll_IH45_IH610.csv
data/traffic_data/original_csv/HardyToll_IH610_IH45.csv
data/traffic_data/original_csv/IH10E_CrosbyLynchburg_Downtown.csv
data/traffic_data/original_csv/IH10E_Downtown_CrosbyLynchburg.csv
data/traffic_data/original_csv/IH10K_Beltway8_Downtown.csv
data/traffic_data/original_csv/IH10K_Beltway8_PinOak.csv
data/traffic_data/original_csv/IH10K_Downtown_Beltway8.csv
data/traffic_data/original_csv/IH10K_PinOak_Beltway8.csv
data/traffic_data/original_csv/IH45G_Beltway8_Downtown.csv
data/traffic_data/original_csv/IH45G_Beltway8_FM646.csv
data/traffic_data/original_csv/IH45G_Downtown_Beltway8.csv
data/traffic_data/original_csv/IH45G_FM646_Beltway8.csv
data/traffic_data/original_csv/IH45N_Beltway8_Downtown.csv
data/traffic_data/original_csv/IH45N_Beltway8_FM1488.csv
data/traffic_data/original_csv/IH45N_Downtown_Beltway8.csv
data/traffic_data/original_csv/IH45N_FM1488_Beltway8.csv
data/traffic_data/original_csv/IH610E_SH225_Gellhorn.csv
data/traffic_data/original_csv/IH610E_Wayside_Broadway.csv
data/traffic_data/original_csv/IH610N_Gellhorn_Shepherd.csv
data/traffic_data/original_csv/IH610N_Shepherd_Gellhorn.csv
data/traffic_data/original_csv/IH610S_SH225_StellaLink.csv
data/traffic_data/original_csv/IH610S_StellaLink_SH225.csv
data/traffic_data/original_csv/IH610W_Shepherd_StellaLink.csv
data/traffic_data/original_csv/IH610W_StellaLink_Shepherd.csv
data/traffic_data/original_csv/SH225_IH610_SH146.csv
data/traffic_data/original_csv/SH225_SH146_IH610.csv
data/traffic_data/original_csv/SH249_Beltway8_Northpointe.csv
data/traffic_data/original_csv/SH249_SpringCypress_Beltway8.csv
data/traffic_data/original_csv/SH288_Downtown_SH6.csv
data/traffic_data/original_csv/SH288_SH6_Downtown.csv
data/traffic_data/original_csv/SH99_Bellaire_I10.csv
data/traffic_data/original_csv/SH99_I10_Bellaire.csv
data/traffic_data/original_csv/US290_BarkerCypress_IH610.csv
data/traffic_data/original_csv/US290_IH610_BarkerCypress.csv
data/traffic_data/original_csv/US59E_Downtown_Townsen.csv
data/traffic_data/original_csv/US59E_Townsen_Downtown.csv
data/traffic_data/original_csv/US59SW_Downtown_IH610.csv
data/traffic_data/original_csv/US59SW_IH610_Downtown.csv
data/traffic_data/original_csv/US59SW_IH610_SH99.csv
data/traffic_data/original_csv/US59SW_SH99_IH610.csv
data/traffic_data/original_csv/WestparkToll_Hillcroft_SH6.csv
data/traffic_data/original_csv/WestparkToll_SH6_IH610.csv
data/traffic_data/shp/Beltway8E_OldGalveston_Wilson.cpg
data/traffic_data/shp/Beltway8E_OldGalveston_Wilson.dbf
data/traffic_data/shp/Beltway8E_OldGalveston_Wilson.prj
data/traffic_data/shp/Beltway8E_OldGalveston_Wilson.shp
data/traffic_data/shp/Beltway8E_OldGalveston_Wilson.shx
data/traffic_data/shp/Beltway8E_Wilson_OldGalveston.cpg
data/traffic_data/shp/Beltway8E_Wilson_OldGalveston.dbf
data/traffic_data/shp/Beltway8E_Wilson_OldGalveston.prj
data/traffic_data/shp/Beltway8E_Wilson_OldGalveston.shp
data/traffic_data/shp/Beltway8E_Wilson_OldGalveston.shx
data/traffic_data/shp/Beltway8N_Fallbrook_Wilson.cpg
data/traffic_data/shp/Beltway8N_Fallbrook_Wilson.dbf
data/traffic_data/shp/Beltway8N_Fallbrook_Wilson.prj
data/traffic_data/shp/Beltway8N_Fallbrook_Wilson.shp
data/traffic_data/shp/Beltway8N_Fallbrook_Wilson.shx
data/traffic_data/shp/Beltway8N_Wilson_Fallbrook.cpg
data/traffic_data/shp/Beltway8N_Wilson_Fallbrook.dbf
data/traffic_data/shp/Beltway8N_Wilson_Fallbrook.prj
data/traffic_data/shp/Beltway8N_Wilson_Fallbrook.shp
data/traffic_data/shp/Beltway8N_Wilson_Fallbrook.shx
data/traffic_data/shp/Beltway8S_OldGalveston_US59.cpg
data/traffic_data/shp/Beltway8S_OldGalveston_US59.dbf
data/traffic_data/shp/Beltway8S_OldGalveston_US59.prj
data/traffic_data/shp/Beltway8S_OldGalveston_US59.shp
data/traffic_data/shp/Beltway8S_OldGalveston_US59.shx
data/traffic_data/shp/Beltway8S_US59_OldGalveston.cpg
data/traffic_data/shp/Beltway8S_US59_OldGalveston.dbf
data/traffic_data/shp/Beltway8S_US59_OldGalveston.prj
data/traffic_data/shp/Beltway8S_US59_OldGalveston.shp
data/traffic_data/shp/Beltway8S_US59_OldGalveston.shx
data/traffic_data/shp/Beltway8W_Fallbrook_US59.cpg
data/traffic_data/shp/Beltway8W_Fallbrook_US59.dbf
data/traffic_data/shp/Beltway8W_Fallbrook_US59.prj
data/traffic_data/shp/Beltway8W_Fallbrook_US59.shp
data/traffic_data/shp/Beltway8W_Fallbrook_US59.shx
data/traffic_data/shp/Beltway8W_US59_Fallbrook.cpg
data/traffic_data/shp/Beltway8W_US59_Fallbrook.dbf
data/traffic_data/shp/Beltway8W_US59_Fallbrook.prj
data/traffic_data/shp/Beltway8W_US59_Fallbrook.shp
data/traffic_data/shp/Beltway8W_US59_Fallbrook.shx
data/traffic_data/shp/HardyToll_IH45_IH610.cpg
data/traffic_data/shp/HardyToll_IH45_IH610.dbf
data/traffic_data/shp/HardyToll_IH45_IH610.prj
data/traffic_data/shp/HardyToll_IH45_IH610.shp
data/traffic_data/shp/HardyToll_IH45_IH610.shx
data/traffic_data/shp/HardyToll_IH610_IH45.cpg
data/traffic_data/shp/HardyToll_IH610_IH45.dbf
data/traffic_data/shp/HardyToll_IH610_IH45.prj
data/traffic_data/shp/HardyToll_IH610_IH45.shp
data/traffic_data/shp/HardyToll_IH610_IH45.shx
data/traffic_data/shp/IH10E_CrosbyLynchburg_Downtown.cpg
data/traffic_data/shp/IH10E_CrosbyLynchburg_Downtown.dbf
data/traffic_data/shp/IH10E_CrosbyLynchburg_Downtown.prj
data/traffic_data/shp/IH10E_CrosbyLynchburg_Downtown.shp
data/traffic_data/shp/IH10E_CrosbyLynchburg_Downtown.shx
data/traffic_data/shp/IH10E_Downtown_CrosbyLynchburg.cpg
data/traffic_data/shp/IH10E_Downtown_CrosbyLynchburg.dbf
data/traffic_data/shp/IH10E_Downtown_CrosbyLynchburg.prj
data/traffic_data/shp/IH10E_Downtown_CrosbyLynchburg.shp
data/traffic_data/shp/IH10E_Downtown_CrosbyLynchburg.shx
data/traffic_data/shp/IH10K_Beltway8_Downtown.cpg
data/traffic_data/shp/IH10K_Beltway8_Downtown.dbf
data/traffic_data/shp/IH10K_Beltway8_Downtown.prj
data/traffic_data/shp/IH10K_Beltway8_Downtown.shp
data/traffic_data/shp/IH10K_Beltway8_Downtown.shx
data/traffic_data/shp/IH10K_Beltway8_PinOak.cpg
data/traffic_data/shp/IH10K_Beltway8_PinOak.dbf
data/traffic_data/shp/IH10K_Beltway8_PinOak.prj
data/traffic_data/shp/IH10K_Beltway8_PinOak.shp
data/traffic_data/shp/IH10K_Beltway8_PinOak.shx
data/traffic_data/shp/IH10K_Downtown_Beltway8.cpg
data/traffic_data/shp/IH10K_Downtown_Beltway8.dbf
data/traffic_data/shp/IH10K_Downtown_Beltway8.prj
data/traffic_data/shp/IH10K_Downtown_Beltway8.shp
data/traffic_data/shp/IH10K_Downtown_Beltway8.shx
data/traffic_data/shp/IH10K_PinOak_Beltway8.cpg
data/traffic_data/shp/IH10K_PinOak_Beltway8.dbf
data/traffic_data/shp/IH10K_PinOak_Beltway8.prj
data/traffic_data/shp/IH10K_PinOak_Beltway8.shp
data/traffic_data/shp/IH10K_PinOak_Beltway8.shx
data/traffic_data/shp/IH45G_Beltway8_Downtown.cpg
data/traffic_data/shp/IH45G_Beltway8_Downtown.dbf
data/traffic_data/shp/IH45G_Beltway8_Downtown.prj
data/traffic_data/shp/IH45G_Beltway8_Downtown.shp
data/traffic_data/shp/IH45G_Beltway8_Downtown.shx
data/traffic_data/shp/IH45G_Beltway8_FM646.cpg
data/traffic_data/shp/IH45G_Beltway8_FM646.dbf
data/traffic_data/shp/IH45G_Beltway8_FM646.prj
data/traffic_data/shp/IH45G_Beltway8_FM646.shp
data/traffic_data/shp/IH45G_Beltway8_FM646.shx
data/traffic_data/shp/IH45G_Downtown_Beltway8.cpg
data/traffic_data/shp/IH45G_Downtown_Beltway8.dbf
data/traffic_data/shp/IH45G_Downtown_Beltway8.prj
data/traffic_data/shp/IH45G_Downtown_Beltway8.shp
data/traffic_data/shp/IH45G_Downtown_Beltway8.shx
data/traffic_data/shp/IH45G_FM646_Beltway8.cpg
data/traffic_data/shp/IH45G_FM646_Beltway8.dbf
data/traffic_data/shp/IH45G_FM646_Beltway8.prj
data/traffic_data/shp/IH45G_FM646_Beltway8.shp
data/traffic_data/shp/IH45G_FM646_Beltway8.shx
data/traffic_data/shp/IH45N_Beltway8_Downtown.cpg
data/traffic_data/shp/IH45N_Beltway8_Downtown.dbf
data/traffic_data/shp/IH45N_Beltway8_Downtown.prj
data/traffic_data/shp/IH45N_Beltway8_Downtown.shp
data/traffic_data/shp/IH45N_Beltway8_Downtown.shx
data/traffic_data/shp/IH45N_Beltway8_FM1488.cpg
data/traffic_data/shp/IH45N_Beltway8_FM1488.dbf
data/traffic_data/shp/IH45N_Beltway8_FM1488.prj
data/traffic_data/shp/IH45N_Beltway8_FM1488.shp
data/traffic_data/shp/IH45N_Beltway8_FM1488.shx
data/traffic_data/shp/IH45N_Downtown_Beltway8.cpg
data/traffic_data/shp/IH45N_Downtown_Beltway8.dbf
data/traffic_data/shp/IH45N_Downtown_Beltway8.prj
data/traffic_data/shp/IH45N_Downtown_Beltway8.shp
data/traffic_data/shp/IH45N_Downtown_Beltway8.shx
data/traffic_data/shp/IH45N_FM1488_Beltway8.cpg
data/traffic_data/shp/IH45N_FM1488_Beltway8.dbf
data/traffic_data/shp/IH45N_FM1488_Beltway8.prj
data/traffic_data/shp/IH45N_FM1488_Beltway8.shp
data/traffic_data/shp/IH45N_FM1488_Beltway8.shx
data/traffic_data/shp/IH610E_SH225_Gellhorn.cpg
data/traffic_data/shp/IH610E_SH225_Gellhorn.dbf
data/traffic_data/shp/IH610E_SH225_Gellhorn.prj
data/traffic_data/shp/IH610E_SH225_Gellhorn.shp
data/traffic_data/shp/IH610E_SH225_Gellhorn.shx
data/traffic_data/shp/IH610E_Wayside_Broadway.cpg
data/traffic_data/shp/IH610E_Wayside_Broadway.dbf
data/traffic_data/shp/IH610E_Wayside_Broadway.prj
data/traffic_data/shp/IH610E_Wayside_Broadway.shp
data/traffic_data/shp/IH610E_Wayside_Broadway.shx
data/traffic_data/shp/IH610N_Gellhorn_Shepherd.cpg
data/traffic_data/shp/IH610N_Gellhorn_Shepherd.dbf
data/traffic_data/shp/IH610N_Gellhorn_Shepherd.prj
data/traffic_data/shp/IH610N_Gellhorn_Shepherd.shp
data/traffic_data/shp/IH610N_Gellhorn_Shepherd.shx
data/traffic_data/shp/IH610N_Shepherd_Gellhorn.cpg
data/traffic_data/shp/IH610N_Shepherd_Gellhorn.dbf
data/traffic_data/shp/IH610N_Shepherd_Gellhorn.prj
data/traffic_data/shp/IH610N_Shepherd_Gellhorn.shp
data/traffic_data/shp/IH610N_Shepherd_Gellhorn.shx
data/traffic_data/shp/IH610S_SH225_StellaLink.cpg
data/traffic_data/shp/IH610S_SH225_StellaLink.dbf
data/traffic_data/shp/IH610S_SH225_StellaLink.prj
data/traffic_data/shp/IH610S_SH225_StellaLink.shp
data/traffic_data/shp/IH610S_SH225_StellaLink.shx
data/traffic_data/shp/IH610S_StellaLink_SH225.cpg
data/traffic_data/shp/IH610S_StellaLink_SH225.dbf
data/traffic_data/shp/IH610S_StellaLink_SH225.prj
data/traffic_data/shp/IH610S_StellaLink_SH225.shp
data/traffic_data/shp/IH610S_StellaLink_SH225.shx
data/traffic_data/shp/IH610W_Shepherd_StellaLink.cpg
data/traffic_data/shp/IH610W_Shepherd_StellaLink.dbf
data/traffic_data/shp/IH610W_Shepherd_StellaLink.prj
data/traffic_data/shp/IH610W_Shepherd_StellaLink.shp
data/traffic_data/shp/IH610W_Shepherd_StellaLink.shx
data/traffic_data/shp/IH610W_StellaLink_Shepherd.cpg
data/traffic_data/shp/IH610W_StellaLink_Shepherd.dbf
data/traffic_data/shp/IH610W_StellaLink_Shepherd.prj
data/traffic_data/shp/IH610W_StellaLink_Shepherd.shp
data/traffic_data/shp/IH610W_StellaLink_Shepherd.shx
data/traffic_data/shp/motorway.cpg
data/traffic_data/shp/motorway.dbf
data/traffic_data/shp/motorway.prj
data/traffic_data/shp/motorway.shp
data/traffic_data/shp/motorway.shx
data/traffic_data/shp/motorway_no_traffic.cpg
data/traffic_data/shp/motorway_no_traffic.dbf
data/traffic_data/shp/motorway_no_traffic.prj
data/traffic_data/shp/motorway_no_traffic.shp
data/traffic_data/shp/motorway_no_traffic.shx
data/traffic_data/shp/non_motorway.cpg
data/traffic_data/shp/non_motorway.dbf
data/traffic_data/shp/non_motorway.prj
data/traffic_data/shp/non_motorway.shp
data/traffic_data/shp/non_motorway.shx
data/traffic_data/shp/SH225_IH610_SH146.cpg
data/traffic_data/shp/SH225_IH610_SH146.dbf
data/traffic_data/shp/SH225_IH610_SH146.prj
data/traffic_data/shp/SH225_IH610_SH146.shp
data/traffic_data/shp/SH225_IH610_SH146.shx
data/traffic_data/shp/SH225_SH146_IH610.cpg
data/traffic_data/shp/SH225_SH146_IH610.dbf
data/traffic_data/shp/SH225_SH146_IH610.prj
data/traffic_data/shp/SH225_SH146_IH610.shp
data/traffic_data/shp/SH225_SH146_IH610.shx
data/traffic_data/shp/SH249_Beltway8_Northpointe.cpg
data/traffic_data/shp/SH249_Beltway8_Northpointe.dbf
data/traffic_data/shp/SH249_Beltway8_Northpointe.prj
data/traffic_data/shp/SH249_Beltway8_Northpointe.shp
data/traffic_data/shp/SH249_Beltway8_Northpointe.shx
data/traffic_data/shp/SH249_SpringCypress_Beltway8.cpg
data/traffic_data/shp/SH249_SpringCypress_Beltway8.dbf
data/traffic_data/shp/SH249_SpringCypress_Beltway8.prj
data/traffic_data/shp/SH249_SpringCypress_Beltway8.shp
data/traffic_data/shp/SH249_SpringCypress_Beltway8.shx
data/traffic_data/shp/SH288_Downtown_SH6.cpg
data/traffic_data/shp/SH288_Downtown_SH6.dbf
data/traffic_data/shp/SH288_Downtown_SH6.prj
data/traffic_data/shp/SH288_Downtown_SH6.shp
data/traffic_data/shp/SH288_Downtown_SH6.shx
data/traffic_data/shp/SH288_SH6_Downtown.cpg
data/traffic_data/shp/SH288_SH6_Downtown.dbf
data/traffic_data/shp/SH288_SH6_Downtown.prj
data/traffic_data/shp/SH288_SH6_Downtown.shp
data/traffic_data/shp/SH288_SH6_Downtown.shx
data/traffic_data/shp/SH99_Bellaire_I10.cpg
data/traffic_data/shp/SH99_Bellaire_I10.dbf
data/traffic_data/shp/SH99_Bellaire_I10.prj
data/traffic_data/shp/SH99_Bellaire_I10.shp
data/traffic_data/shp/SH99_Bellaire_I10.shx
data/traffic_data/shp/SH99_I10_Bellaire.cpg
data/traffic_data/shp/SH99_I10_Bellaire.dbf
data/traffic_data/shp/SH99_I10_Bellaire.prj
data/traffic_data/shp/SH99_I10_Bellaire.shp
data/traffic_data/shp/SH99_I10_Bellaire.shx
data/traffic_data/shp/US290_BarkerCypress_IH610.cpg
data/traffic_data/shp/US290_BarkerCypress_IH610.dbf
data/traffic_data/shp/US290_BarkerCypress_IH610.prj
data/traffic_data/shp/US290_BarkerCypress_IH610.shp
data/traffic_data/shp/US290_BarkerCypress_IH610.shx
data/traffic_data/shp/US290_IH610_BarkerCypress.cpg
data/traffic_data/shp/US290_IH610_BarkerCypress.dbf
data/traffic_data/shp/US290_IH610_BarkerCypress.prj
data/traffic_data/shp/US290_IH610_BarkerCypress.shp
data/traffic_data/shp/US290_IH610_BarkerCypress.shx
data/traffic_data/shp/US59E_Downtown_Townsen.cpg
data/traffic_data/shp/US59E_Downtown_Townsen.dbf
data/traffic_data/shp/US59E_Downtown_Townsen.prj
data/traffic_data/shp/US59E_Downtown_Townsen.shp
data/traffic_data/shp/US59E_Downtown_Townsen.shx
data/traffic_data/shp/US59E_Townsen_Downtown.cpg
data/traffic_data/shp/US59E_Townsen_Downtown.dbf
data/traffic_data/shp/US59E_Townsen_Downtown.prj
data/traffic_data/shp/US59E_Townsen_Downtown.shp
data/traffic_data/shp/US59E_Townsen_Downtown.shx
data/traffic_data/shp/US59SW_Downtown_IH610.cpg
data/traffic_data/shp/US59SW_Downtown_IH610.dbf
data/traffic_data/shp/US59SW_Downtown_IH610.prj
data/traffic_data/shp/US59SW_Downtown_IH610.shp
data/traffic_data/shp/US59SW_Downtown_IH610.shx
data/traffic_data/shp/US59SW_IH610_Downtown.cpg
data/traffic_data/shp/US59SW_IH610_Downtown.dbf
data/traffic_data/shp/US59SW_IH610_Downtown.prj
data/traffic_data/shp/US59SW_IH610_Downtown.shp
data/traffic_data/shp/US59SW_IH610_Downtown.shx
data/traffic_data/shp/US59SW_IH610_SH99.cpg
data/traffic_data/shp/US59SW_IH610_SH99.dbf
data/traffic_data/shp/US59SW_IH610_SH99.prj
data/traffic_data/shp/US59SW_IH610_SH99.shp
data/traffic_data/shp/US59SW_IH610_SH99.shx
data/traffic_data/shp/US59SW_SH99_IH610.cpg
data/traffic_data/shp/US59SW_SH99_IH610.dbf
data/traffic_data/shp/US59SW_SH99_IH610.prj
data/traffic_data/shp/US59SW_SH99_IH610.shp
data/traffic_data/shp/US59SW_SH99_IH610.shx
data/traffic_data/shp/WestparkToll_Hillcroft_SH6.cpg
data/traffic_data/shp/WestparkToll_Hillcroft_SH6.dbf
data/traffic_data/shp/WestparkToll_Hillcroft_SH6.prj
data/traffic_data/shp/WestparkToll_Hillcroft_SH6.shp
data/traffic_data/shp/WestparkToll_Hillcroft_SH6.shx
data/traffic_data/shp/WestparkToll_SH6_IH610.cpg
data/traffic_data/shp/WestparkToll_SH6_IH610.dbf
data/traffic_data/shp/WestparkToll_SH6_IH610.prj
data/traffic_data/shp/WestparkToll_SH6_IH610.shp
data/traffic_data/shp/WestparkToll_SH6_IH610.shx
result/iter_0/demand.geojson
result/iter_0/supply.geojson
result/iter_1/demand.geojson
result/iter_1/supply.geojson
result/iter_2/demand.geojson
result/iter_2/supply.geojson
result/iter_3/demand.geojson
result/iter_3/supply.geojson
result/iter_4/demand.geojson
result/iter_4/supply.geojson
result/iter_5/demand.geojson
result/iter_5/supply.geojson
result/precalculated_measures.cpg
result/precalculated_measures.dbf
result/precalculated_measures.prj
result/precalculated_measures.shp
result/precalculated_measures.shx
